[submodule "mediaimporter.emby"]
	path = mediaimporter.emby
	url = git@github.com:Montellese/mediaimporter.emby.git
[submodule "mediaimporter.plex"]
	path = mediaimporter.plex
	url = git@github.com:Montellese/mediaimporter.plex.git
[submodule "script.module.websocket_client"]
	path = script.module.websocket_client
	url = git@github.com:Montellese/script.module.websocket_client.git
[submodule "script.module.semantic_version"]
	path = script.module.semantic_version
	url = git@github.com:Montellese/script.module.semantic_version.git
